/*common css*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --purple:#a000c8;
   --yellow:#FFCC00;
   --red:#e74c3c;
   --black:#333;
   --light-color:#666;
   --white:#fff;
   --light-bg:#f6f6f6;
   --warm-light:#FCF9D9;
   --brown:#321414;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   color:var(--black);
}

*::selection{
   background-color: var(--purple);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--purple);
}
body{
    background-color: var(--warm-light);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}
/*form section style*/
section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.disabled{
    user-select: none;
    pointer-events: none;
    opacity: .5;
 }
/*all button design*/
.btn,
.delete-btn,
.option-btn{
    display:  block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    color: var(--white);
    font-size: 2rem;
    padding: 1.5rem 3rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;

}
.btn{
    background-color: var(--purple);
}
.delete-btn{
    background-color: var(--red);
}
.option-btn{
    background-color: var(--yellow);
}
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
    background-color: var(--black);
}

/*admin profile btn*/
.flex-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.flex-btn >*{
    flex: 1;
}


/*admin dashbord*/
.title{
text-align: center;
margin-bottom: 2rem;
text-transform: uppercase;
color: var(--black);
font-size: 3.5rem;

}



.empty{
    padding:1.5rem;
    background: var(--white);
    color:var(--red);
    border-radius: .5rem;
    border:var(--border);
    font-size: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
 }

/*fedeIn style for user btn*/
@keyframes fadeIn{
    0%{
        transform: translateY(1rem);

    }
}




/*form style*/
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container form{
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    padding: 2rem;

}
.form-container form h3{
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: uppercase;
    
}
.form-container form .box{
width: 100%;
margin: 1rem 0;
border-radius: .5rem;
border: var(--border);
padding: 1.2rem 1.4rem;
font-size: 1.8rem;
color: var(--black);
background-color: var(--light-bg);
}
.form-container form p{
    margin-top: 1.5rem;
    font-size: 2rem;
    color: var(--light-color);
}
.form-container form p a{
    color: var(--purple);
}
.form-container form p a:hover{
    text-decoration: underline;
}


/*admin header style*/
.header{
    background: var(--white);
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
 }
 
 .header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
 }
 
 .header .flex .logo{
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .header .flex .logo span{
    color:var(--purple);
 }
 .header .flex .navbar a{
      margin: 0 1rem;
      font-size: 2rem;
      color: var(--light-color);

 }
 .header .flex .navbar a:hover{
    text-decoration: underline;
    color: var(--purple);
 }
 .header .flex .icons >*{
    font-size: 2.5rem;
    color:var(--light-color);
    cursor: pointer;
    margin-left: 1.5rem;
 }
 .header .flex .icons >*:hover{
    color: var(--purple);
 }
 
.header .flex .profile{
    position: absolute;
    top: 120%; right: 1rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    width: 25rem;
    display: none;
    animation: fadeIn .2s linear;

 }
 .header .flex .profile.active{
    display: inline-block;
 }
 .header .flex .profile p{
    padding: 2rem 0;
    font-size: 2rem;
    color: var(--light-color);

 }

 

 /*user header*/
 .header .header-1{
    background-color: var(--light-bg);
 }
 
 .header .header-1 .flex{
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;
 }
 
 .header .header-2{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
 }
 
 .header .header-2.active{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
 }
 .header .header-2 .flex{
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;
    position: relative;
 }
 .header .header-1 .flex .share a{
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color:var(--black);
 }
 
 .header .header-1 .flex .share a:hover{
    color:var(--purple);
 }
 .header .header-1 .flex p{
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .header .header-1 .flex p a{
    color:var(--purple);
 }
 
 .header .header-1 .flex p a:hover{
    text-decoration: underline;
 }
 
 .header .header-2 .flex .logo{
    font-size: 4rem;
    color:var(--purple);
    font-weight: bold;
 }
 
 .header .header-2 .flex .navbar a{
    margin:0 1rem;
    font-size: 2rem;
    color:var(--light-color);
    
 }
 
 .header .header-2 .flex .navbar a:hover{
    color:var(--purple);
    text-decoration: underline;

}
.header  .flex .icons a span,
 .header  .flex .icons a i {
color: var(--light-color);
 }
 .header .header-2 .flex .icons a:hover span,
 .header .header-2 .flex .icons a:hover i{
color: var(--purple);
 }

 .header .flex .icons a span{
    font-size: 2rem;
 }


 
 /*menu icon*/
 #menu-btn{
    display: none;
 }

 

 




/*footer section*/
.footer{
    background-color: var(--light-bg);
     position: sticky;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;

}

.footer .box-container .box p{

display: block;
padding: 1rem 0;
font-size: 1.8rem;
color: var(--light-color);

}
.footer .box-container .box p i{
    color: var(--purple);
    padding-right: 1rem;
}
.footer .credit{
    background-color: var(--white);
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    line-height: 1.5;
    border-top: var(--border);
    text-align: center;
    font-size: 2rem;
    color: var(--black);
}
.footer .credit span{
    color: var(--purple);
}









/*media queries*/


@media(max-width:991px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
   /*menu btn style*/

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    .header .flex .navbar{
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        position: absolute;
        top: 99%; left: 0; right: 0;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }
}


@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .flex-btn{
        flex-flow: column;
        gap: 0;
    }
}